/ Main Page Content and Sidebar
.row
  / Sidebar
  %aside.large-3.columns
    %h5 Explorar
    %ul.side-nav
      %li.active
        %a{href: "#"} Quinta
      %li
        %a{href: "#"} Quartos
      %li
        %a{href: "#"} Área de convivência
      %li.divider
      %li
        %a{href: "#"} Cidade de Bragança
      %li
        %a{href: "#"} Concelho
      %li
        %a{href: "#"} Espanha
    .panel
      %h5 Featured
      %p Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.
      %a{href: "#"} Read More →
  / End Sidebar
  / Main Blog Content
  .large-9.columns{role: "content"}
    %article
      %h3
        %a{href: "#"} Blog Post Title
      %h6
        Written by
        %a{href: "#"} John Smith
        on August 12, 2012.
      .row
        .large-6.columns
          %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa.
          %p Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
        .large-6.columns
          %img{src: "http://placehold.it/400x240&text=[img]"}/
      %p Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
      %p Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
    %hr/
    %article
      %h3
        %a{href: "#"} Blog Post Title
      %h6
        Written by
        %a{href: "#"} John Smith
        on August 12, 2012.
      .row
        .large-6.columns
          %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa.
          %p Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
        .large-6.columns
          %img{src: "http://placehold.it/400x240&text=[img]"}/
      %p Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
      %p Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
  / End Main Content

