%header#fullScreen{style: "height: 770px"}
  #backimg-explore
  #text-explore
    .table{ style: "z-index: 10;"}
      .tableInner
        %h1 Quinta da Rica-Fé
        %h2
          Uma guest house no nordeste transmontano.
%section#content
  -@images.each do |file|
    %article.outOfView{style: "background-image: url(#{file}); background-size: cover; background-repeat: no-repeat; "}
      .table
        .tableInner
          .wrapper
            %img{alt: "Oracle", height: "", src: "assets/img/work/oracle/oracle-logo.svg", width: ""}/
            %h4 Oracle Social Network is a secure private network that provides a broad range of social tools designed to capture and preserve information flowing between people, enterprise applications, and business processes.
          / <span class="workPreview"><img src="assets/img/work/oracle/oracle-preview.jpg" /></span>

