.section.after-top
  .heading.l-page
    %h2
      Transitions
      %span.amp &
      transformations
    %p
      Here are some basic transformations.
      %span#instruction-message Hover to see them work.
    :javascript
      $("#instruction-message").html(App.isMobile ? "Tap to see them work." : "Hover to see them work.");
  .examples.trio.l-page.translations
    #example-5.example.normal
      .in
        %h3{style: "height: 19px;"} Translate X
        .area
          .box
        .code{style: "height: 19px;"}
          %pre
            $('.box').transition({
            %b x: '40px'
            });
    #example-1.example.normal.playing
      .in
        %h3{style: "height: 19px;"} Translate Y
        .area
          .box{style: "-webkit-transform: translate(0px, 40px);"}
          .box.ghost
        .code{style: "height: 19px;"}
          %pre
            $('.box').transition({
            %b y: '40px'
            });
    .example.normal
      .in
        %h3{style: "height: 19px;"} Translate X/Y
        .area
          .box
        .code{style: "height: 19px;"}
          %pre
            $('.box').transition({
            %b x: '40px', y: '40px'
            });
