- title "Quinta da Rica-Fé"
/ End Top Bar
/ Content Slider

.hide-for-small
  .row{:style=>"margin-top:50px;"}
    %ul#featured1.data-orbit.orbit-wrapper{"data-orbit" => ""}
      -@images.each_with_index do |file,index|
        %li{"data-orbit-slide" => ""}
          /%div{style:"z-index:50;padding-left:250px;"}
          /  %h3
          /    titulo #{index}.
          %img{alt: 'image', src: "#{file}", alt: "#{file}",  style:"padding-left:250px;"}

/            %div{"data-orbit-slide" => ""}
/              %h2
/                Headline 1
/              %h3
/                Subheadline
/ End Content Slider
/ Mobile Header
.row
  .large-12.columns.show-for-small
    %img{src: @images.first}/
%br/
/ End Mobile Header

.row
  .large-5{style:"margin:0 auto;"}
    %h1
      Quinta da Rica-Fé
.row
  .large-7{style:"margin:0 auto;"}
    %h3
      Uma guest house no nordeste transmontano.

.row
  .large-6.columns
    .row
      .large-3.columns
        %img{src: "http://placehold.it/50x50&text=[img]"}/
      .large-9.columns
        %h5.subheader

    %hr/
    .row
      .large-3.columns
        %img{src: "http://placehold.it/50x50&text=[img]"}/
      .large-9.columns
        %h5.subheader
          %a{href: "#"} Venue Name
    %hr/
    .row
      .large-3.columns
        %img{src: "http://placehold.it/300x465&text=Image"}/
      .large-9.columns
        %h5.subheader
          %a{href: "#"} Venue Name
  .large-6.columns
    .panel
      %h4 Localização
      #google-map{:style=>"width:400px;height:250px;"}

      %h6.subheader
        %p
          Quinta da Rica-Fé
          %br
          Estrada de Rabal
          %br
          5300-245 Bragança, Portugal
      %h6
        Coordenadas
        %p
        41.822142, -6.759664
      %h6
        %a{href: "https://www.google.pt/maps/place/41%C2%B049'19.7%22N+6%C2%B045'34.8%22W/@41.822707,-6.7607061,390m/data=!3m1!1e3!4m2!3m1!1s0x0:0x0", :target => "_blank"} Ver no GoogleMaps


      / End Feed
/ End Content


