- title "Quinta da Rica-Fé"
/ End Top Bar
/ Content Slider

.section{:style=>"background-color:#E0EEEE;"}
  .hide-for-small
    .medium-8.large-7.columns.large-centered{:style=>"padding-top:50px;padding-bottom:50px;"}
      %ul#featured1.data-orbit.orbit-wrapper{"data-orbit" => ""}
        -@images.each_with_index do |file,index|
          %li{"data-orbit-slide" => ""}
            /%div{style:"z-index:50;padding-left:250px;"}
            /  %h3
            /    titulo #{index}.
            %img{alt: 'image', src: "#{file}", alt: "#{file}",  style:""}

  /            %div{"data-orbit-slide" => ""}
  /              %h2
  /                Headline 1
  /              %h3
  /                Subheadline
  / End Content Slider
  / Mobile Header
  .row
    .small-10.columns.show-for-small.large-centered{:style=>"padding-top:20px;padding-bottom:20px;"}
      %img{src: @images.first}/
%br/
/ End Mobile Header

.row.text-center
  .large-12.small-12.columns
    %h1
      Quinta da Rica-Fé
.row.text-center
  .large-12.small-12.columns
    %h3
      Uma guest house no nordeste transmontano.
    %hr.margin-bottom-40px

.row
  .large-6.small-12.columns
    .row
      %p
        Situada às portas da cidade de Bragança, a 5 minutos do centro da cidade e a 2 minutos de restaurantes e supermercados, a Quinta da Rica-Fé estende-se por uma área de aproximadamente de 80 hectares. A sua incontestável beleza paisagística e a riqueza histórica que encerra, fazem desta um pedaço de paraíso que vale a pena visitar.
  .large-6.small-12.columns
    .panel
      .row
        %h4.small-10.large-10.large-centered
          Localização
      .row
        #google-map.large-10.large-centered.hide-for-small{:style=>"height:250px;"}
        .small-10.hide-for-large.hide-for-medium.large-centered
          /%img{alt: 'image', src: #{"asds"} image-path("map_screenshot.png"), alt: "map",  style:""}
          %a{href: "https://www.google.pt/maps/place/41%C2%B049'19.7%22N+6%C2%B045'34.8%22W/@41.822707,-6.7607061,390m/data=!3m1!1e3!4m2!3m1!1s0x0:0x0", :target => "_blank"}
            =image_tag asset_path('map_screenshot.png'), :size => '380x200'
      .row
        %h6.subheader.small-10.large-10.large-centered
          %p
            Quinta da Rica-Fé
            %br
            Estrada de Rabal
            %br
            5300-245 Bragança, Portugal
        %h6.small-10.large-10.large-centered
          Coordenadas
          %p
          41.822142, -6.759664
        %h6.small-10.large-10.large-centered
          %a{href: "https://www.google.pt/maps/place/41%C2%B049'19.7%22N+6%C2%B045'34.8%22W/@41.822707,-6.7607061,390m/data=!3m1!1e3!4m2!3m1!1s0x0:0x0", :target => "_blank"} Ver no Google Maps


      / End Feed
/ End Content


