- title "Quinta da Rica-Fé"
/ End Top Bar
/ Content Slider

.hide-for-small
  .row{:style=>"margin-top:50px;"}
    %ul#featured1.data-orbit.orbit-wrapper{"data-orbit" => ""}
      -@images.each_with_index do |file,index|
        %li{"data-orbit-slide" => ""}
          /%div{style:"z-index:50;padding-left:250px;"}
          /  %h3
          /    titulo #{index}.
          %img{alt: 'image', src: "#{file}", alt: "#{file}",  style:""}

/            %div{"data-orbit-slide" => ""}
/              %h2
/                Headline 1
/              %h3
/                Subheadline
/ End Content Slider
/ Mobile Header
.row
  .large-12.columns.show-for-small
    %img{src: @images.first}/
%br/
/ End Mobile Header

.row.text-center
  .large-12.columns
    %h1
      Quinta da Rica-Fé
.row.text-center
  .large-12.columns
    %h3
      Uma guest house no nordeste transmontano.

.row
  .large-6.columns
    .row
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ullamcorper orci pretium nisi ultrices pellentesque. Cras cursus sagittis sapien id fermentum. Quisque pretium, nibh a eleifend elementum, neque metus rutrum turpis, sit amet lacinia nulla justo vitae elit. Suspendisse et risus ut urna tincidunt faucibus. Etiam ac aliquet libero, eu pretium metus. Vivamus luctus enim et eros pellentesque, eget lacinia elit faucibus. Duis tincidunt non enim dictum tempor.
      %p
        Curabitur laoreet lectus eu turpis porta, ut aliquam diam viverra. Duis suscipit mauris a nisl rhoncus, at aliquam nisi semper. Maecenas ac pellentesque metus, vel ultrices sem. Integer at lacus semper, commodo nibh a, tincidunt tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum molestie bibendum nisi sed dictum. Vestibulum luctus hendrerit felis et bibendum. Donec blandit neque non luctus posuere. Nunc at enim lectus. Vivamus eu elit rutrum, euismod nulla a, convallis neque. Curabitur faucibus consequat nisi, quis rhoncus libero ullamcorper in.
      %p
        Proin in pulvinar dui. Sed in libero nulla. Phasellus tristique leo a nunc venenatis, ut gravida ligula tempus. Suspendisse non sollicitudin dolor. Fusce interdum libero vitae orci sollicitudin consectetur. Pellentesque vitae lectus sagittis, eleifend lectus a, commodo tellus. Etiam nibh turpis, tempus eu tristique a, tincidunt sed est.
      %p
        Donec tincidunt ac arcu a ultricies. Mauris mollis felis libero, et mattis libero tristique a. Vivamus dignissim sem in nulla porttitor, eu vestibulum urna tempus. Nullam tincidunt sem vel purus accumsan, ac pulvinar enim blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque faucibus magna vestibulum sapien dapibus, vitae cursus nibh vestibulum. Nunc pharetra eu leo eu venenatis.
      %p
        Duis vitae urna ac libero bibendum mollis. Maecenas id diam arcu. Vestibulum quis scelerisque ipsum. Nulla pulvinar convallis viverra. Etiam iaculis, ante in bibendum dignissim, metus massa placerat risus, quis sagittis metus justo at tortor. Sed semper vitae mauris eu aliquam. Suspendisse potenti. Curabitur posuere erat et condimentum adipiscing. Maecenas dictum sodales augue vitae porta. Suspendisse potenti. Nullam ultrices odio id dui bibendum, quis dapibus tellus elementum. Praesent sit amet dapibus ligula. Duis lobortis rhoncus turpis, molestie fringilla lectus pharetra vitae. Fusce euismod rutrum tincidunt.
  .large-6.columns
    .panel
      %h4 Localização
      #google-map{:style=>"width:400px;height:250px;"}

      %h6.subheader
        %p
          Quinta da Rica-Fé
          %br
          Estrada de Rabal
          %br
          5300-245 Bragança, Portugal
      %h6
        Coordenadas
        %p
        41.822142, -6.759664
      %h6
        %a{href: "https://www.google.pt/maps/place/41%C2%B049'19.7%22N+6%C2%B045'34.8%22W/@41.822707,-6.7607061,390m/data=!3m1!1e3!4m2!3m1!1s0x0:0x0", :target => "_blank"} Ver no GoogleMaps


      / End Feed
/ End Content


