<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{% translate header.about %}</h2>
                    <h3 class="section-subheading text-muted">{% translate about.subheading %}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/ricafe-name.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{% translate about.timeline.naming.heading %}</h4>
                                    <h4 class="subheading">{% translate about.timeline.naming.subheading %}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> {% translate about.timeline.naming.body %}</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/ricafe-sheeps.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{% translate about.timeline.agriculture.heading %}</h4>
                                    <h4 class="subheading">{% translate about.timeline.agriculture.subheading %}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{% translate about.timeline.agriculture.body %}
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/ricafe-fontain.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{% translate about.timeline.jesuits.heading %}</h4>
                                    <h4 class="subheading">{% translate about.timeline.jesuits.subheading %}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{% translate about.timeline.jesuits.body %}
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/ricafe-main-house.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{% translate about.timeline.owners.heading %}</h4>
                                    <h4 class="subheading">{% translate about.timeline.owners.subheading %}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{% translate about.timeline.owners.body %}
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/hoops.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{% translate about.timeline.hoops.heading %}</h4>
                                    <h4 class="subheading">{% translate about.timeline.hoops.subheading %}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{% translate about.timeline.hoops.body %}
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <a href="#booking" class="page-scroll">
                                <div class="timeline-image">
                                    <h4>{% translate about.timeline.visitus %}</h4>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>