  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} 2022</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}" target="_blank"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                  <a href="https://www.livroreclamacoes.pt/Inicio/" target="_blank">
                    <img class="img-circle img-responsive" style="height: 40px;" src="img/footer/livro_reclamacoes.png" alt="livro reclamacoes">
                  </a>
                </div>
            </div>
        </div>
    </footer>
