  <footer>
        <div class="container">
            <div class="row">
                <div class="col">
                    <span class="copyright">Copyright &copy; {{ site.title }} 2022</span>
                </div>
                <div class="col">
                  <a href="https://www.livroreclamacoes.pt/Inicio/" target="_blank">
                    <img class="img-circle img-responsive" style="height: 40px;" src="img/footer/livro_reclamacoes.png" alt="livro reclamacoes">
                  </a>
                </div>
            </div>
        </div>
    </footer>
