<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse">

            <!-- Collect the nav links, forms, and other content for toggling -->
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#facilities">{% translate header.facilities %}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">{% translate header.about %}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#map">{% translate header.map %}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">{% translate header.contact %}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#booking">{% translate header.booking %}</a>
                    </li>
                    <li>
                        <a href="{% translate header.language1_link %}"><span class="lang-lg" lang="{% translate header.language1_label %}"></span></a>
                    </li>
                    <li>
                        <a href="{% translate header.language2_link %}"><span class="lang-lg" lang="{% translate header.language2_label %}"></span></a>
                    </li>
                </ul>
            <!-- /.navbar-collapse -->
            </div>
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">{% translate header.intro.lead-in %}</div>
                <div class="intro-heading">{% translate header.intro.heading %}</div>
                <div class="row">
                    <a href="#booking" class="page-scroll btn btn-xl">{% translate header.intro.book-now %}</a>
                </div>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

