 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ "/js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/contact_me.js" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/agency.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/google_map.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/language.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/siema.min.js" | prepend: site.baseurl }}"></script>

    <script>
      //var mySiema = new Siema({
      //  selector: '.siema',
      //  duration: 200,
      //  easing: 'ease-out',
      //  perPage: 1,
      //  startIndex: 0,
      //  draggable: true,
      //  multipleDrag: true,
      //  threshold: 20,
      //  loop: true,
      //  rtl: false,
      //  onInit: () => {},
      //  onChange: () => {},
      //});

      const slideshow = new Siema({
        selector: '.slider',
        loop: true,
        draggable: true,
        threshold: 200
      });

      $(".prev").on("click", function() {
        slideshow.prev();
      });

      $(".next").on("click", function() {
        slideshow.next();
      });

      setInterval(() => slideshow.next(), 2000);
    </script>

