<!-- Team Section -->
    <section id="map">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{% translate header.map %}</h2>
            </div>
            <span class="visible-sm visible-md visible-lg text-center" id="google-map" style="min-width:300px;height:250px;"></span>
            <span class = "visible-xs col-lg-8 col-lg-offset-2 text-center">
                <a href="https://www.google.pt/maps/place/41%C2%B049'18.6%22N+6%C2%B045'15.5%22W/@41.822589,-6.757349,736m/data=!3m1!1e3!4m2!3m1!1s0x0:0x0" target="_blank">
                    <img src="img/map/map_screenshot.png" class="img-responsive img-rounded map-xs" alt=""/>
                </a>
            </span>
            <div class='row'>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h3 class='small-12 large-12'>
                        Coordenadas
                    </h3>
                    <p>
                        41.8218146,-6.7541353
                    </p>
                    <p>
                        41°49'18.6"N 6°45'15.5"W
                    </p>
                    <h6 class='small-10 large-10 large-centered'>
                        <a href="https://www.google.pt/maps/place/41%C2%B049'18.6%22N+6%C2%B045'15.5%22W/@41.822589,-6.757349,736m/data=!3m1!1e3!4m2!3m1!1s0x0:0x0" target="_blank">Ver no Google Maps</a>
                    </h6>
                </div>
            </div>
        </div>
    </section>