<!-- Slider Section -->
<section id="sliders">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
      <h2 class="section-heading">{% translate header.sliders %}</h2>
    </div>
    <div class="row">
      <div class="slider-container">
        <div class="slider" style="margin: 1rem 0;">
          <div class="slide slide01"></div>
          <div class="slide slide02"></div>
          <div class="slide slide03"></div>
          <div class="slide slide04"></div>
          <div class="slide slide05"></div>
          <div class="slide slide06"></div>
          <div class="slide slide07"></div>
          <div class="slide slide08"></div>
          <div class="slide slide09"></div>
          <div class="slide slide10"></div>
          <div class="slide slide11"></div>
          <div class="slide slide12"></div>
          <div class="slide slide13"></div>
          <div class="slide slide14"></div>
          <div class="slide slide15"></div>
          <div class="slide slide16"></div>
          <div class="slide slide17"></div>
          <div class="slide slide18"></div>
          <div class="slide slide19"></div>
          <div class="slide slide20"></div>
          </div>
            <button class="prev">&lt;</button>
            <button class="next">&gt;</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
