// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.orbit-wrapper {
  height: 350px !important;
}

#featured { display: none; background: #f4f4f4; height: 350px;}
#featured img { display: none; }
#featured.orbit { background: none; }
