// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/css3/opacity";
@import "compass/css3/transition";

.orbit-wrapper {
  .slider-nav span { @include opacity(0); @include single-transition(opacity, 400ms); }
  &:hover .slider-nav span { @include opacity(1); }
}


#featured1 { background: url(loading.gif) center center #000 no-repeat; height: 400px; }
#featured1 li { display: none; }

#featured1 { background: none; }
#featured1 img { display: block; }

.orbit-container .orbit-slides-container > * {
  height: 400px;
}

.orbit-container {
  width: 800px;
  margin-left: 100px;
}
.orbit-container .orbit-slides-container img {
  width: auto;
}


#map-canvas { height: 100% }


