// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/css3/opacity";
@import "compass/css3/transition";

.orbit-wrapper {
  .slider-nav span { @include opacity(0); @include single-transition(opacity, 400ms); }
  &:hover .slider-nav span { @include opacity(1); }
}


#featured1 { background: url(loading.gif) center center #000 no-repeat; height: 400px; }
#featured1 li { display: none; }

#featured1 { background: none; }
#featured1 img { display: block; }

.orbit-container .orbit-slides-container > * {
  height: auto;
}

#google-map { height: auto }

.large-centered{
  margin-left: auto;
  margin-right: auto;
  float: none !important;
}

body {
  font-family: 'Raleway',Helvetica,Arial,sans-serif;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.02);
}

.about img {
  width: 250px;
  height: 250px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}

.work {
  img:hover {
    opacity: 0.5;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  li {
    height: 140px;
    overflow: hidden;
  }
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  opacity: 0.8;
}

@font-face {
  font-family: 'Livingst';
  src: url('/assets/Livingst.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.logo{
  font-family: Livingst;
  font-variant: small-caps;
}

.title-font{
  font-family: Livingst;
}

.flag {
  margin: 5px;
  cursor: pointer;
}
